## Acesso a base globalstore (p√∫blica) no formato csv.

In [1]:
import pandas as pd

In [2]:
globalstore = pd.read_csv('globalstore.csv')
globalstore

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,1,MX-2014-143658,10-02-14,10-06-14,Standard Class,SC-20575,Sonia Cooley,Consumer,Mexico City,Distrito Federal,...,OFF-LA-10002782,Office Supplies,Labels,"Hon File Folder Labels, Adjustable",13.08,3,0.0,4.56,1.033,Medium
1,2,MX-2012-155047,10-15-12,10-20-12,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,...,FUR-FU-10004015,Furniture,Furnishings,"Tenex Clock, Durable",252.16,8,0.0,90.72,13.449,Medium
2,3,MX-2012-155047,10-15-12,10-20-12,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,...,FUR-BO-10002352,Furniture,Bookcases,"Ikea 3-Shelf Cabinet, Mobile",193.28,2,0.0,54.08,9.627,Medium
3,4,MX-2012-155047,10-15-12,10-20-12,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,...,OFF-BI-10004428,Office Supplies,Binders,"Cardinal Binder, Clear",35.44,4,0.0,4.96,1.371,Medium
4,5,MX-2012-155047,10-15-12,10-20-12,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,...,OFF-AR-10004594,Office Supplies,Art,"Sanford Canvas, Water Color",71.60,2,0.0,11.44,3.787,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,51286,HU-2012-7730,09-05-12,09-07-12,First Class,NF-8385,Natalie Fritzler,Consumer,Budapest,Budapest,...,OFF-AVE-10004570,Office Supplies,Binders,"Avery Binder Covers, Economy",11.07,1,0.0,3.42,1.980,High
51286,51287,HU-2012-7730,09-05-12,09-07-12,First Class,NF-8385,Natalie Fritzler,Consumer,Budapest,Budapest,...,TEC-LOG-10004419,Technology,Accessories,"Logitech Flash Drive, USB",61.44,2,0.0,18.42,13.020,High
51287,51288,HU-2012-7730,09-05-12,09-07-12,First Class,NF-8385,Natalie Fritzler,Consumer,Budapest,Budapest,...,OFF-BOS-10002705,Office Supplies,Art,"Boston Highlighters, Fluorescent",80.52,4,0.0,20.88,8.780,High
51288,51289,HU-2012-7730,09-05-12,09-07-12,First Class,NF-8385,Natalie Fritzler,Consumer,Budapest,Budapest,...,OFF-ENE-10004132,Office Supplies,Paper,"Enermax Computer Printout Paper, 8.5 x 11",130.44,4,0.0,33.84,18.970,High
51289,51290,IZ-2011-5750,08-25-11,08-29-11,Standard Class,SZ-10035,Sam Zeldin,Home Office,Baghdad,Baghdad,...,OFF-ACC-10002343,Office Supplies,Binders,"Acco 3-Hole Punch, Durable",31.62,1,0.0,12.96,2.400,Medium

In [ ]:
globalstore.info()

In [ ]:
globalstore.head(10)

In [ ]:
globalstore.tail(5)

In [3]:
globalstore = globalstore.rename(
    columns = {
        'Row ID': 'items_sequence',
        'Order ID': 'order_number',
        'Order Date': 'order_date',
        'Ship Date': 'ship_date',
        'Ship Mode': 'ship_mode',
        'Customer ID': 'customer_id',
        'Customer Name': 'customer_name',
        'Segment': 'segment',
        'State': 'state',
        'City': 'city',
        'Country': 'country',
        'Postal Code': 'postal_code',
        'Region': 'region',
        'Market': 'market',
        'Product ID': 'product_id',
        'Product Name': 'product_name',
        'Category': 'category',
        'Sub-Category': 'subcategory',
        'Sales': 'sales',
        'Quantity': 'quantity',
        'Profit': 'profit',
        'Discount': 'discount',
        'Shipping Cost': 'shipping_cost',
        'Order Priority': 'order_priority',
    }
)

In [ ]:
globalstore

In [ ]:
globalstore = globalstore.drop(
    columns = [
        'items_sequence'
    ]
)

In [ ]:
globalstore.info()

In [ ]:
for coluna in globalstore.columns:
    print(globalstore[coluna])

In [ ]:
globalstore['teste'] = 1
globalstore

In [ ]:
globalstore['valor_unitario'] = globalstore['sales'] / globalstore['quantity']

In [35]:
globalstore_copy = globalstore.copy()

In [43]:
gs_lucro = globalstore[
    (globalstore['profit'] > 100) & 
    (globalstore['ship_mode'] == 'Standard Class')
][['order_date', 'ship_date', 'sales']].sort_values(
    by='sales', ascending=False
)

In [44]:
for index, row in globalstore.iterrows():
    print(index)
    print(row)

      order_date ship_date     sales
38122   10-03-13  10-10-13  17499.95
35486   11-18-14  11-23-14  10499.97
40335   12-18-13  12-22-13   9892.74
35394   09-23-11  09-28-11   9449.95
35573   04-17-13  04-21-13   9099.93
...          ...       ...       ...
35535   12-30-14  01-05-15    209.70
4897    04-14-12  04-20-12    208.96
18819   09-27-11  10-04-11    205.80
39413   07-01-14  07-06-14    204.95
7096    01-13-11  01-17-11    201.26

[3456 rows x 3 columns]

In [1]:
for index, row in globalstore[
    ['market', 'segment']
].drop_duplicate.iterrows():
    globalstore_filtro = globalstore[
        (globalstore['market'] == row['market']) &
        (globalstore['segment'] == row['segment'])
    ]
    print(globalstore_filtro)

NameError: name 'globalstore' is not defined

In [ ]:
globalstore['Order Date'] = globalstore['Order Date'].astype('datetime64[ns]')
globalstore['Ship Date'] = globalstore['Ship Date'].astype('datetime64[ns]')
globalstore.info()

## Pacotes de Acesso:
- Pandas: acesso e maipula√ß√£o de dados
- sqlite3: conexao com banco relacional sqlite

In [ ]:
import sqlite3 as sql

## String de conex√£o 
O banco de dados sqlite gera um instancia local. Quando for acesso a um servidor passar a url. Alguns bancos de dados requerem mais par√¢metros para realizar a conex√£o.

In [ ]:
conexao = sql.connect('globalstore.db')

## Fun√ß√£o de normaliza√ß√£o - Aplica√ß√£o da terceira forma normal (dependencia transitiva)

A depend√™ncia transitiva ocorre quando um ou mais atributos est√£o diretamente relacionados ao conte√∫do de um atributo, n√£o pertencente a chave prim√°ria (identificador) da tabela

Os par√¢metros informados s√£o:
dataframe: conjunto de dados originais;
colunas: lista de colunas

In [ ]:
def normalizacao(dataframe, colunas, apelido):
    if len(colunas) == 1:
        normalizado = [[s, d] for s, d in enumerate(dataframe[colunas[0]].unique())]
        normalizado = pd.DataFrame(
            normalizado,
            columns = [
                apelido+'_sequence',
                'description'
            ]
        )
        dataframe = dataframe.merge(
            normalizado,
            left_on = colunas,
            right_on = 'description',
            how = 'left'
        )
        dataframe = dataframe.drop(
            columns = [colunas, 'description']
        )
    else:
        normalizado = dataframe[colunas].drop_duplicates().reset_index()
        normalizado = normalizado.rename(
            columns={'index': apelido+'_sequence'}
        )
        dataframe = dataframe.merge(
            normalizado, 
            right_on=colunas,
            left_on=colunas, 
            how='left'
        )
        for coluna in dataframe.columns:
            if coluna.endswith('_x') or coluna.endswith('_y') or coluna in colunas:
                dataframe = dataframe.drop(columns=coluna)        
    return dataframe, normalizado

In [ ]:
items, orders = normalizacao(
    globalstore, 
    [
        'order_number',
        'order_date',
        'ship_date',
        'ship_mode',
        'customer_id',
        'customer_name',
        'segment',
        'city',
        'state',
        'country',
        'postal_code',
        'market',
        'region',
        'order_priority'
    ], 
    'ord', 
)

In [ ]:
orders

In [ ]:
items

Exerc√≠cio:
- Normalizar a tabela items com product;
- Normalizar a tablea product com subcategory;
- Normalizar a tabela subcategory com category;
- Normalizar a tabela orders para client;
- Normalizar a tabela cliente para city;
- Normalizar a tabela city para market;

## Dados em conjuntos para uso durante o processo
recomenda-se formato parquet ou feather.

In [ ]:
orders.to_parquet('orders.parquet')

In [ ]:
orders.read_parquet('orders.parquet')
orders

Atividade: Salvar todas as tabelas no formato parquet

Atividade Extra: 
- remontar a estrutura original com a fun√ß√£o merge
- criar um banco de dados com os dados referentes aos mercados 'LATAM' e 'US'

## Dados para banco de dados relacional

In [ ]:
orders.to_sql(
    name='orders',
    con=conexao,
    if_exists='replace'
)

In [ ]:
step = 10000
for linhas in range(0, len(items), step):
    print(linhas)
    items[linhas:linhas+step].to_sql(
        name='items',
        con=conexao,
        if_exists='append'       
    )

## items.to_sql(name='outros_items', con=conexao, if_exists='append', chunksize=10000)

In [ ]:
conexao_normalizada = sql.connect('globalstore_normalizada.db')

In [ ]:
for tabela in ['category', 'subcategory', 'products', 'orders', 'items', 'customer', 'city', 'region']:
    eval(tabela).to_sql(
        tabela,
        con = conexao_normalizada,
        if_exists = 'replace'
    )

Atividade: Salvar as demais tabela no banco de dados relacional

In [ ]:
with conexao:
    data = conexao.execute("select * from items")
    for row in data:
        print(row)

Atividade: 
- Listar os clientes que compraram os produtos da categoria 'Furniture';
- Listar a quantidade de produtos agrupados por pais e cidade;